* {
    margin:0;
    padding:0;
}
#tm {
    margin:0 auto;
    height:300px;
    width:600px;
    background-color:#000;
    position:relative;
    overflow:hidden;
}
/*为弹幕内容布局*/
#tm div {
    height:20px;
    line-height:20px;
    position:absolute;
    width:100%;
}
#btn {
    margin:0 auto;
    width:300px;
    height:20px;
}
